 #scroll-up {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        padding: 15px;
        border-radius: 50%;
      }
