

.navbar .nav-link {
  color: #589444;
  font-size: 0.4rem;
}

@media (min-width: 576px) {
  .navbar .nav-link {
    font-size: 0.4rem;
  }
}

@media (min-width: 768px) {
  .navbar .nav-link {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .navbar .nav-link {
    font-size: 1.0rem;
  }
}

@media (min-width: 1200px) {
  .navbar .nav-link {
    font-size: 1.2rem;
  }
}
/* 
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
} */

@media (min-width: 576px) {
  .timmy-square-logo  {
    width: 40px;
  }
}



  .img-fluid-nate {
    max-width: 80%;
    height: auto;
}
  
  .timmy-green .active a,
  .timmy-green .active a:hover {
      background-color: #589444;
  }
  
  a {
    color: green !important;
    
  }


  a:hover {
    color: green;
    
  }

  .designed-by {
    color: rgb(90, 90, 90);
    font-size: 14px;
    padding-top: 150px;
  }

  html {
    scroll-padding-top: 100px; /* height of sticky header */
  }

  h4 {
    text-align: center;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 20px;
  }

  hr {
    margin-bottom: 40px;
    margin-top: 60px;
  }

  .plyr__control svg {
    fill: green;
  }

  /* #00b3ff OLD AUDIOPLAYER COLOR */

  .nav-pills.timmy-green {
    font-weight: 500;
  }
  
  .image-container {
    text-align: center;
  }
  
  .socials a img {
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .client-logos img {
    max-width: 100px;
    height: auto;
    display: inline-block;
    margin: 10px;
  }
  
  /* Remove iframe border and outline */
  iframe {
    border: none !important;
    outline: none !important;
    overflow: hidden;
  }

  .image-container {
    overflow: hidden;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}
  
  .video-wrap {
    position: relative;
    padding-bottom: 315px;
    padding-top: 25px;
    height: 0;
    max-width: 560px;
    max-height: 315px;
    margin: 0 auto;
}
    .video-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 315px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contact-info {
        text-align: center;
        padding-top: 20px;
        margin-bottom: 0px;
        text-decoration: none;
      }

      .container {
        position: relative;
        margin: 0 auto;
        max-width: 800px;
        width: 100%;
    }

    .text-center{text-align:center!important}

    .contact-info {
      display: flex;
      align-items: center;
      text-align: center;
    }
    
 .icon-text {
  margin-right: 20px;
 }