/* general styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  
}

a {
  color: gray;
}

/* navigation styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.artist-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-right: 1rem;
}

.nav-list li a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.nav-list li a:hover {
  color: #ff4500;
}

/* logo styles */
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  padding-top: 150px;
}

.logo-img {
  max-width: 100%;
  height: auto;
}

/* section styles */
.section {
  padding: 2rem 0;
}

/* about section styles */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  
}

.profile-img {
  width: 30%;
  margin-right: 2rem;
  border-radius: 50%;
}

.lorem-ipsum {
  width: 60%;
  font-size: 0.8rem;
  line-height: 1.5;
}

/* clients section styles */
.client-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.client-img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

/* socials section styles */
.socials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.social-img {
  max-width: 3rem;
  height: auto;
  margin-right: 1rem;
}

/* contact section styles */
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info {
  text-align: center;
  padding-top: 20px;
  text-decoration: none;
}

